{% extends "reports/base.html" %}
{% load bootstrap3 %}
{% block stylesheets %}
  	<style type="text/css">
			#Reports{ 
				padding: 3%;
				height: 100%; 
				width: 60%; 
				float:right; 
			}
			#Assigned {
				padding: 3%;
				width: 40%;
				float: right;
				height: 100%;
			}
			.assrep { padding-left: 10%;}
			a:link {color:#000;}      /* unvisited link */
			a:hover {color:#0000FF;
				text-decoration:none;}  /* mouse over link */
	</style>
{% endblock %}

{% block content %}
	<h3>&nbsp; {{ user.name }} {{user.last_name}}</h3>
		{% if error %}
			<p> Error : Blank Field </p>
		{% endif %}
		<div id="Assigned">
			<h3 style="text-align:center;"> Completed Reports </h3>
			<div id="myAccordion" class="accordion">
					{% for x in report_completed %}
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#collapse{{x.id}}" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle">
								<h4>{{x.id}} : {{x.description}} ( {{x.date}} )</h4> 
							</a>
						</div>
						<div class="accordion-body collapse" id="collapse{{x.id}}">
							<div class="accordion-inner">
								<p>{{x.status}}  : {{x.status_comment}} </p>
							</div>
						</div>
					</div>  
					{% endfor %} 
				</div> 
		</div> 
		<div id="Reports">
			<h3 style="text-align:center;"> Assigned Reports </h3>

			<div id="List">
				<div id="myAccordion" class="accordion">
					{% for x in report_list %}
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#collapse{{x.id}}" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle">
								<h3>{{x.id}} : {{x.description}} ( {{x.date}} )</h3> 
							</a>
						</div>
						<div class="accordion-body collapse" id="collapse{{x.id}}">
							<div class="accordion-inner">
								<p>{{x.status}}  : {{x.status_comment}} </p>
								<form method="post">
									{% csrf_token %}
									<input type='hidden' name="id" value="{{ x.id }}" />
									{% bootstrap_form form %}
									<button type="submit" class="btn btn-success">Submit Change</button>
								</form>
							</div>
						</div>
					</div>  
					{% endfor %} 
				</div> 
			</div>


		</div> 




{% endblock %}
