<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style type="text/css">
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 33%;
      padding-right: 33%;
      background-color: #eee;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <h3> LOGIN PAGE </h3>
    <form action="{% url 'django.contrib.auth.views.login' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success">Sign in</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </body>
</html>
