{% extends "reports/base.html" %}

 {% block stylesheets %}
  	<style type="text/css">
			#Reports{ padding: 2%; }
	</style>
 {% endblock %}

{% block content %}
	<div id="Reports">
		<h3>SUPERVISOR VIEW</h3>
		<hr>
		{% for x in report_list %}
				<h3> {{x.description}} : {{x.date}} </h3>
				<div style = "float:left;">
					<form>
						<select name="assign">
							{% for e in employees %}
							<option value="{{e.id}}">{{e.name}} {{e.last_name}}</option>
							{% endfor %}
						</select>
					</form>
				</div>
		{% endfor %}
	</div>

{% endblock %}
