{% extends "reports/base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

 {% block stylesheets %}
  	<style type="text/css">
			#Reports{ padding: 2%; }
	</style>
 {% endblock %}

{% block content %}
	<div id="Reports">
		<h3>SUPERVISOR : {{ user.name }} {{ user.last_name }}</h3>
		<hr>
		{% for x in report_list %}
				<h3> {{x.description}} : {{x.date}} </h3>
				<div style="width:300px;">
					<form method="post">
						{% csrf_token %}
						<input type='hidden' name="id" value="{{ x.id }}" />
						{% bootstrap_form form layout="inline" %}
           			     <button type="submit" class="btn btn-success">Assign</button>
					</form>
				</div>
				<hr>
		{% endfor %}
	</div>

{% endblock %}
