{% extends "reports/base.html" %}

    {% block head %}   
        <title>AAA</title>
    {% endblock %}


        {% load bootstrap3 %}

        {# Load CSS and JavaScript #}

        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {% block stylesheets %}
        <style type="text/css">
        body {
          padding-top: 40px;
          padding-bottom: 40px;
          padding-left: 33%;
          padding-right: 33%;
          background-color: #eee;
        }
        </style>
    {% endblock %}

    {% block content %} 
        <div class="container">
        <i class="icon-user"></i><h3>REGISTRATION PAGE</h3>

        {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="/reports/">Return to the homepage.</a><br />
        {% else %}

        <form id="user_form" method="post" action="/profiles/register/"
                enctype="multipart/form-data" class="form">

            {% csrf_token %}
            {% bootstrap_form user_form %}
            {% buttons submit='Register' reset="Cancel" %}{% endbuttons %}
        </form>
        {% endif %}
    </div>
    {% endblock %}